<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monolingo</title>
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column bg-dark text-white" style="min-height: 100vh">
    <div class="d-flex container-fluid" style="min-height: 90vh;">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="mt-5">Monolingo</h1>
            <p class="lead">Learning a second language is hard. That's why Monolingo exists. Monolingo is a
                video conferencing web app with real-time translation, to help you communicate with people around the
                world, using your mother language.</p>
            <h3 class="m-3">Start using now!</h3>
            <a href="/room/new" class="btn btn-success">Create a Room</a>
            <div class="m-3">
                <label class="form-label" for="room-id">Or enter the room id to join:</label>
                <input class="form-control" type="text" id="room-id" name="room-id">
                <button id="join-room" class="btn btn-success mt-3">Join Room</button>
            </div>
            <p>Features include: Video chat using Webrtc & Peer.js, Speech-to-text and
                Text-to-speech using Web Speech API, and text translation with Google Translate API. The project
                currently supports Chrome only; please see
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API#browser_compatibility">
                    Web Speech API compatibility table</a>
                for more details.
            </p>
        </div>
    </div>

    <footer class="footer d-flex align-items-center text-white" style="height: 10vh">
        <div class="d-flex container justify-content-between">
            <h6>&copy; Monolingo 2021 Designed by <a href="https://github.com/Mohanito">Mohan Li</a>
            </h6>
        </div>
    </footer>

    <link rel="stylesheet" href="stylesheets/home.css">
    <script>
        document.querySelector('#join-room').addEventListener('click', () => {
            if (document.querySelector('#room-id').value) {
                window.location.href = `/room/${document.querySelector('#room-id').value}`;
            }
        });
    </script>

</body>

</html>