<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monolingo | Home</title>

    <!-- Bootswatch Darkly -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css"
        integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JCV7SPJ04Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JCV7SPJ04Y');
    </script>
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico'>
</head>

<body class="d-flex flex-column" style="min-height: 100vh">
    <main class="d-flex container-fluid flex-column" style="min-height: 100vh">
        <div class="col-md-8 offset-md-1" style="padding-top: 25vh;">
            <h1>Welcome to <span class="text-success">Monolingo</span></h1>
            <h3 class="my-3">A free video conferencing application with simple, real-time translation</h3>
            <p class="lead">Start using now! No registration required.</p>
            <a href="/room/new" class="btn btn-lg btn-outline-success">Create a Room</a>
        </div>
        <div class="col-md-4 offset-md-1 mt-3">
            <label class="form-label lead" for="room-id">Or enter the room ID to join:</label>
            <input class="form-control mb-3" type="text" id="room-id" name="room-id">
            <button id="join-room" class="btn btn-lg btn-outline-success">Join Room</button>
        </div>
    </main>

    <section class="d-flex flex-column container text-center mb-3" style="min-height: 30vh">
        <h3 class="mt-5 mb-3">Learning a second language could be painful. And that's why <span
                class="text-success">Monolingo</span> exists!</h3>
        <h5 class="text-muted mb-3">
            Monolingo helps you communicate with people around the world, using ONLY your mother language.
            This project currently supports 29 languages, and provides 67 different voices for simultaneous
            interpretation.
        </h5>
    </section>

    <section class="d-flex container-fluid" style="min-height: 50vh">
        <div class="row">
            <div class="col-md-6 col-lg-8 mb-3">
                <div class="card shadow">
                    <img class="w-100" src="/images/chatroom-preview.png" alt="Chatroom preview">
                </div>
            </div>
            <div class="col mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title">About This Project</h4>
                        <p class="text-warning">Note: The project
                            currently supports Chrome only due to limitations of Web Speech API; please see
                            <a
                                href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API#browser_compatibility">
                                Web Speech API compatibility table
                            </a>
                            for more details.
                        </p>
                        <p>The design of this project mainly consists of 3 parts:
                            <li>
                                Peer-to-peer media stream connection with <a href="peerjs.com">Peer.js</a> (Webrtc)
                            </li>
                            <li>
                                Speech-to-text and text-to-speech using
                                <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API">Web Speech
                                    API</a>
                            </li>
                            <li>
                                Text translation with
                                <a href="https://www.npmjs.com/package/translate">this</a>
                                translation package (currently using Libre engine because it's FREE).
                            </li>
                        </p>
                        <h4>View this project on<a href="https://github.com/Mohanito/Monolingo">
                                Github <ion-icon name="logo-github"></ion-icon>
                            </a></h4>
                        <p>Made by <a href="https://github.com/Mohanito">Mohan Li.</a></p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer class="footer d-flex align-items-center mt-auto" style="height: 10vh">
        <div class="container">
            <h6>Monolingo 2021 <a href="https://github.com/Mohanito/Monolingo">
                    <ion-icon name="logo-github"></ion-icon>
                </a></h6>
        </div>
    </footer>

    <script src="/javascripts/home.js"></script>

</body>

</html>