<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monolingo</title>
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100 text-white">
    <div class="d-flex container-fluid">
        <div class="col-8 offset-2 text-center">
            <h1 class="mt-5">Monolingo</h1>
            <p class="lead">We understand that learning a second language is hard. That's why we designed Monolingo, a
                video web app with real-time translation, to help you communicate with people around the world, using
                your mother language.</p>
            <h3 class="mt-5">Start using now!</h3>
            <a href="/room/new" class="btn btn-success mt-3">Create a Room</a>
            <div class="mt-5 pt-5">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, neque.</p>
            </div>
            <a href="/single" class="btn btn-danger mt-5">Single User Testing (Development)</a>
        </div>
    </div>

    <footer class="footer py-4 mt-auto">
        <div class="container">
          <h6>&copy; Monolingo 2021 Designed by <a href="https://github.com/Mohanito">Mohan Li</a></h6>
        </div>
    </footer>

    <link rel="stylesheet" href="stylesheets/home.css">

</body>

</html>