<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monolingo</title>
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card text-center">
                    <h3 class="card-title">Enter your information</h3>
                    <form action="/join/<%= roomId %>" method="post">
                        <input class="form-control mb-3" type="text" id="username" name="username"
                            placeholder="Enter Your Name">
                        <button id="dice" class="btn btn-success">Generate Random Username</button>
                        <div>
                            <label class="col-form-label" for="language">Select Your Language:</label>
                            <%- include('partials/languageSelector') %>
                        </div>
                        <button class="btn btn-success mt-3">Join Room</button>
                    </form>
                </div>
            </div>
        </div>
        <a href="/">Back to Homepage</a>
    </div>

    <script src="/javascripts/join.js"></script>
</body>

</html>