<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monolingo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <h3>Chatroom <%= roomId %> </h3>
    <a class="btn btn-success" href="/">Back to Homepage</a>
    <div class="d-flex container">
        <div class="col-6 text-center">
            <div class="card">
                <div class="card-header">
                    <%= username %>
                </div>
                <div class="card-body">
                    <video id="videoElement" autoplay="true" width="400px"></video>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="card">
                <div class="card-header">
                    <span id="user2">Stranger</span>
                </div>
                <div class="card-body">
                    <video id="videoElement2" autoplay="true" width="400px"></video>
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

    <script>
        const roomId = "<%= roomId %>";
        const username = "<%= username %>"
    </script>
    <script src="/javascripts/room.js"></script>

</body>


</html>