<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monolingo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <h3>Single User Testing </h3>
    <a class="btn btn-success" href="/">Back to Homepage</a>
    <div class="d-flex container">
        <div class="col-6 text-center">
            <div class="card">
                <div class="card-header">
                    Developer
                </div>
                <div class="card-body">
                    <video id="videoElement" autoplay="true" width="400px"></video>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="card">
                <div class="card-header">
                    Bot
                </div>
                <div class="card-body">
                    <img width="400px" src="https://cdn.pixabay.com/photo/2019/03/21/15/51/chatbot-4071274_1280.jpg" alt="chatbot">
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex container mt-5">
        <p>This will contain text information for future functions.</p>
    </div>

    <script src="javascripts/single.js"></script>

</body>

</html>