body {
    font-family: 'Raleway', sans-serif;
}

.title-overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    position: relative; 
    width: 100%;
}

.waiting-for-user {
    /* background: #3E5151;
    background: -webkit-linear-gradient(to left, #DECBA4, #3E5151);
    background: linear-gradient(to left, #DECBA4, #3E5151);  */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://cdn.pixabay.com/photo/2017/08/06/09/29/bokeh-2590658_1280.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    background: rgba(0, 0, 0, 0.5);
}